html, body, div, span,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
img, ins, kbd, q, s, samp, small, strike, strong, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baselinebaseline; background: transparent; }
ol, ul {list-style: none; }
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }


body, html{
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica;
    color: white;
    overflow: hidden;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    -webkit-touch-callout: none

}

#box{
    height: 100%;
    width: 100%;
    position: relative;
    background-color: #63666E;
}

/*****************main*****************/


#mainBox, #menuBox{
    height: 100%;
    width: 100%;
    position: absolute;
}

#menuBox{
    width: 15em;
    -webkit-transform: translate3d(-8em, 0, 0);
    -webkit-transition: -webkit-transform 0.35s cubic-bezier(.08, .47, 0, 1);
}

#mainBox{
    box-shadow: 0 0 1em 0.25em rgba(0,0,0,0.3);
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform 0.35s cubic-bezier(.08, .47, 0, 1);
}

#main{
    height: 100%;
    width: 100%;
    background-color: #EAEAEA;
    position: relative;
}

#mainHeader, #mainFooter{
    width: 100%;
    position: absolute;
    text-align: center;
}

#mainHeader{
    height: 3em;
    top: 0;
    background-color: #65B89C;
    text-align: left;
}

#headerText{
    height: 3em;
    line-height: 3em;
    float: left;
}

#headerText span{
    font-size: 0.5em;
}

#mainFooter{
    height: 7em;
    bottom: 0;
    background-color: #EAEAEA;
    overflow: hidden;
}

#aniBtnBox{
    width: 7em;
    height: 91em;
    background-image: url(../images/button.png);
    background-size: 7em 91em;
    /*background-position: 0 0;*/
    position: relative;
    margin: auto;
    -webkit-transform: translate3d(0,0,0);
    -webkit-transition: -webkit-transform 0.3s steps(12);
}

#previousBtn, #nextBtn{
    width: 6em;
    height: 7em;
    position: absolute;
    top: 0em;
    bottom: 2em;
    background-image: url(../images/pnBtn.png);
    background-size: 3em 3em;  
    background-repeat: no-repeat;
    background-position: 1.5em 2em;
}

#previousGlow, #nextGlow{
    border-radius: 50%;
    background-color: #C6C6C6;
    -webkit-animation: none;
    position: absolute;
    width: 4em;
    height: 4em;
    top: 1.5em;
    bottom: 1.5em;
    opacity: 0;
}

#previousGlow{
    left: 1em; 
    background-color: #FF9D82;
}

#nextGlow{
    right: 1em;
}

#previousBtn{
    left: 0;
}

#nextBtn{
    -webkit-transform: rotate(180deg);
    right: 0;
}


/*UC和海豚不兼容*/
@-webkit-keyframes glow {
    from{
        opacity: 1;
        /*-webkit-transform: scale3d(1, 1, 1);*/
    }
    to{
        opacity: 0;
        /*-webkit-transform: scale3d(2, 2, 1);*/
    }
}

/*UC和海豚兼容但是效果怪怪的*/
/*#previousGlow, #nextGlow{
    background-color: #65B89C;
    -webkit-transform: scale3d(0.9, 0.9, 1);
}*/


#menuBtn{
    height: 3em;
    width: 1.5em;
    background: url(menu.svg);
    background-size: 3em 3em;
    /*background-color: #65B89C;*/
    float: left;
}

#aniBox1{
    width: 100%;
    height: auto;
    bottom: 7em;
    top: 3em;
    position: absolute;
    overflow: hidden;
}

#aniBox2{
    position: absolute;
    margin: 0 auto;
    width: 20em;
    height: 100%;
    overflow: hidden;
    /*background-image: url(../images/001.png),none,url(../images/002.png);*/
    background-repeat: no-repeat,no-repeat,no-repeat;
    -webkit-backface-visibility: hidden;
    /*-webkit-perspective: 1000;*/
}

#imgM,#imgL,#imgR{
    height: 20em;
    width: 20em;
}

#imgM{
    margin: auto;
}

#imgL{
    float: left;
}

#imgR{
    float: right;
}

/*#imageL{
    position: absolute;
    left: 0;
}

#imageR{
    position: absolute;
    right: 0;
    background-image: url(../images/002.png);
}

#imageM{
    margin: auto;
    background-image: url(../images/001.png);
    -webkit-animation: none;
}*/

#animation1{
    display: none;
    position: relative;
    margin: auto;
    -webkit-transform: translate3d(0, 0em, 0);
    background-image: url(../images/1_1.png),url(../images/1_2.png),url(../images/1_3.png);
    /*background-size: 100% 33.3333%;*/
    /*background-position: 0 0,0 33.3333%,0 66.6667%;*/
    background-repeat: no-repeat;
    -webkit-animation: none;
}

@-webkit-keyframes animation1 {
    from{-webkit-transform: translate3d(0, 0, 0)}
    to{-webkit-transform: translate3d(0, -95.8333%, 0)}
}

#mainMask{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    pointer-events: none;
}

/*****************menu*****************/


#menu{
    width: 45em;
    height: auto;
    position: absolute; 
    top: 0;
    left:0;
    bottom: 55px; 
    right:0; 
    -webkit-transition: -webkit-transform 0.35s cubic-bezier(.08, .47, 0, 1);
}

#contentsPage, #searchPage, #settingPage{
    width: 15em;
    height: 100%;
    float: left;
    background-color: #63666E;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translateZ(0);
}

#contentsPage ul div{
    height: 90px;
    width: 100%;
    background-image: url(../images/menuTitle.png);
    background-size: 240px 636px;
    /*background-position: 0 96px;*/
    /*border-radius: 0 1.75em 1.75em 0;*/
    /*font-weight: bold;*/
}

#menuTitle1{
    background-position: 0 -96px;
}

#menuTitle2{
    background-position: 0 -186px;
}

#menuTitle3{
    background-position: 0 -276px;
}

#menuTitle4{
    background-position: 0 -366px;
}

#menuTitle5{
    background-position: 0 -456px;
}

#menuTitle6{
    background-position: 0 -546px;
}

/*#contentsPage ul div div{
    position: relative;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #73777F;
    text-indent: 0;
    text-align: center;
    line-height: 40px;
    float: left;
    margin-top: 27.5px;
    margin-left: 12px;
    font-size: 0.7em;
    letter-spacing: 0;
    color: #CCD3DD;
}*/

#contentsPage li li{
    /*font-size: 0.8em;*/
    text-indent: 60px;
    line-height: 48px;
    height: 48px;
    font-size: 1.2em;
    color: #9A9FA8;
    background-image: url(../images/menuTitle.png);
    background-size: 240px 636px;
    background-position: 0 -48px;
}

#contentsPage li li span{
    font-size: 0.5em;
    margin-left: 1.2em;
    /*color: #8C9199;*/
    opacity: 0.75;
}

#searchPage{
    /*background-color: green;*/
}

#settingPage{
    /*background-color: orange;*/
}

#menuFooter{
    height: 55px;
    width: 100%;
    background-color: #54575E;
    position: absolute;
    bottom: 0;
    /*box-shadow: 0 0 3em 1.5em #54575E;*/
}

#menuFooterGradient{
    height: 60px;
    width: 100%;
    background-image: url(../images/menuFooterGradient.png);
    background-size: 1px 60px;
    position: fixed;
    bottom: 54px;
    pointer-events: none;
    z-index: 100;
}

#menuFooterBtn{
    display: block;
    width: 100%;
    height: 100%;
}

#menuFooterBtn li{
    float: left;
    width: 5em;
    height: 100%;
    background-size: 30px 30px;
    background-position: 25px 0;
    background-repeat: no-repeat;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition: opacity 0.2s linear;
}

#menuFooterLine{
    background-color: #FF8164;
    height: 2px;
    width: 5em;
    position: absolute;
    bottom: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform 0.35s cubic-bezier(.08, .47, 0, 1);
}

#contentsBtn{
    /*box-shadow: 0 -0.25em #FF8164 inset;*/
    background-image: url(../images/contentsBtn.png);
}

#searchBtn{
    background-image: url(../images/searchBtn.png);
    opacity: 0.8;
}

#settingBtn{
    background-image: url(../images/settingBtn.png);
    opacity: 0.8;
}

#contentsBtn,#searchBtn,#settingBtn{
    
}

