html, body, div, span,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
img, ins, kbd, q, s, samp, small, strike, strong, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baselinebaseline; background: transparent; }
ol, ul {list-style: none; }
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }


body, html{
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica;
    color: white;
    overflow: hidden;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    -webkit-touch-callout: none

}

#box{
    height: 100%;
    width: 100%;
    position: relative;
    background-color: #63666E;
}

/*****************main*****************/


#mainBox, #menuBox{
    height: 100%;
    width: 100%;
    position: absolute;
}

#menuBox{
    width: 15em;
    -webkit-transform: translate3d(-8em, 0, 0);
    -webkit-transition: -webkit-transform 0.35s cubic-bezier(.08, .47, 0, 1);
}

#mainBox{
    box-shadow: 0 0 1em 0.25em rgba(0,0,0,0.3);
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform 0.35s cubic-bezier(.08, .47, 0, 1);
}

#main{
    height: 100%;
    width: 100%;
    background-color: #EAEAEA;
    position: relative;
}

#mainHeader, #mainFooter{
    width: 100%;
    position: absolute;
    text-align: center;
}

#mainHeader{
    height: 3em;
    top: 0;
    background-color: #65B89C;
    text-align: left;
}

#headerText{
    height: 3em;
    line-height: 3em;
    float: left;
}

#headerText span{
    font-size: 0.5em;
}

#mainFooter{
    height: 7em;
    bottom: 0;
    background-color: #EAEAEA;
}

#aniBtnBox{
    width: 7em;
    height: 7em;
    background: url(../images/button.png);
    background-size: 7em 91em;
    background-position: 0 0;
    position: relative;
    margin: auto;
    -webkit-transform: translateZ(0);
    -webkit-transition: background-position 0.3s steps(12);
}

/*@-webkit-keyframes changePos {
    from{background-position:0em 0em;}
    to{background-position:0em -84em;}
}*/


/*在pc版chrome上没问题，但是在移动版chrome上显示不正常，套在里面的几个div变成方的了*/
/*#aniBtnR,#aniBtnG,#aniBtnB,#GBb,#GRr,#RBb,#RGBb{
    width: 3.75em;
    height: 3.75em;
    position: absolute;
    border-radius: 300px;
    overflow: hidden;
    -webkit-transition: -webkit-transform 3s;
}

#aniBtnR,#aniBtnG,#aniBtnB{
    top: 1.625em;
    left: 1.625em;
}

#aniBtnR{
    background-color: #FE8063;
    -webkit-transform: translate(13px, 11px) scale3d(1,1,1);
}

#aniBtnG{
    background-color: #64B79B;
    -webkit-transform: translate(-5px, -12px) scale3d(1.08,1.08,1);
}

#aniBtnB{
    background-color: #5C6A88;
    -webkit-transform: translate(-15px, 17px) scale3d(0.8,0.8,1);
}

#GBb{
    background-color: #4898A3;
    -webkit-transform: translate(-10px, 29px) scale3d(0.741,0.741,1);
}
#GRr{
    background-color: #FEB979;
    -webkit-transform: translate(18px, 23px) scale3d(0.926,0.926,1);
}
#RBb{
    background-color: #FE6C6A;
    -webkit-transform: translate(-28px, 6px) scale3d(0.8,0.8,1);
}
#RGBb{
    background-color: #FE9B81;
    -webkit-transform: translate(-28px, 6px) scale3d(0.8,0.8,1);
}*/


#previousBtn, #nextBtn, #previousGlow, #nextGlow{
    width: 3em;
    height: 3em;
    background-color: white;
    position: absolute;
    top: 2em;
    bottom: 2em;
    
}

#previousBtn, #previousGlow{
    left: 1.5em;
}

#nextBtn, #nextGlow{
    right: 1.5em;
}

#previousBtn{
    background: url(pandn.svg);
    background-size: 3em 3em;
}

#nextBtn{
    -webkit-transform: rotate(180deg);
    background: url(pandn.svg);
    background-size: 3em 3em;
}


/*UC和海豚不兼容*/
#previousGlow, #nextGlow{
    border-radius: 50%;
    background-color: #65B89C;
    -webkit-animation: none;
}


@-webkit-keyframes glow {
    from{
        opacity: 1;
        -webkit-transform: scale3d(0.9, 0.9, 1);
    }
    to{
        opacity: 0;
        -webkit-transform: scale3d(2, 2, 1);
    }
}

/*UC和海豚兼容但是效果怪怪的*/
/*#previousGlow, #nextGlow{
    background-color: #65B89C;
    -webkit-transform: scale3d(0.9, 0.9, 1);
}*/


#menuBtn{
    height: 3em;
    width: 1.5em;
    background: url(menu.svg);
    background-size: 3em 3em;
    /*background-color: #65B89C;*/
    float: left;
}

#aniBox{
    /*background-color: blue;*/
    width: 100%;
    height: auto;
    bottom: 7em;
    top: 3em;
    /*padding-bottom: 7em;*/
    position: absolute;
}

#aniBox2{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 75%;
    background-color: #EAEAEA;
    
}

#animation1{
    position: relative;
    margin: auto;
    width: 20em;
    height: 100%;
    background: url(../images/testimg001.png);
    background-size: 100% 100%;
}

#mainMask{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    pointer-events: none;
}

/*****************menu*****************/


#menu{
    width: 300%;
    height: auto;
    position: absolute; 
    top: 0;
    left:0;
    bottom: 4em; 
    right:0; 
    -webkit-transition: -webkit-transform 0.35s cubic-bezier(.08, .47, 0, 1);
}

#contentsPage, #searchPage, #settingPage{
    width: 15em;
    height: 100%;
    float: left;
    background-color: #63666E;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

#contentsPage li{
    line-height: 3em;
    background-color: #6A6F76;
    text-indent: 1.5em;
    font-size: 1.25em;
    color: #A8AFBA;
    font-weight: bold;
}

#contentsPage li li{
    /*line-height: 3em;*/
    background-color: #63666E;
    font-size: 0.8em;
    text-indent: 3em;
    color: #9A9FA8;
    /*-webkit-transition: box-shadow 0.1s linear;*/
    /*font-weight: normal;*/
    /*text-indent: 3em;*/
}

#searchPage{
    /*background-color: green;*/
}

#settingPage{
    /*background-color: orange;*/
}

#menuFooter{
    height: 4em;
    width: 100%;
    background-color: #54575E;
    position: absolute;
    bottom: 0;
}

#menuFooterBtn{
    display: block;
    width: 100%;
    height: 100%;
}

#menuFooterBtn li{
    float: left;
    width: 5em;
    height: 100%;
    text-align: center;
    line-height: 4em;
    color: #CCD3DD;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition: box-shadow 0.1s linear;
}

#contentsBtn{
    box-shadow: 0 -0.25em #FF8164 inset
}

/*#menuMask{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    position: absolute;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition: background-color 0.35s cubic-bezier(.08, .47, 0, 1);
    display: none;
    pointer-events: none;
}*/
