html, body, div, span,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
img, ins, kbd, q, s, samp, small, strike, strong, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baselinebaseline; background: transparent; }
ol, ul {list-style: none; }
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }


body, html{
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica;
    color: white;
    overflow: hidden;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    -webkit-touch-callout: none

}

#box{
    height: 100%;
    width: 100%;
    position: relative;
    background-color: #63666E;
}

/*****************main*****************/


#mainBox, #menuBox{
    height: 100%;
    width: 100%;
    position: absolute;
}

#menuBox{
    width: 15em;
    -webkit-transform: translate3d(-8em, 0, 0);
    -webkit-transition: -webkit-transform 0.35s cubic-bezier(.08, .47, 0, 1);
}

#mainBox{
    box-shadow: 0 0 1em 0.25em rgba(0,0,0,0.3);
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform 0.35s cubic-bezier(.08, .47, 0, 1);
}

#main{
    height: 100%;
    width: 100%;
    background-color: #EAEAEA;
    position: relative;
}

#mainHeader, #mainFooter{
    width: 100%;
    position: absolute;
    text-align: center;
}

#mainHeader{
    height: 3em;
    top: 0;
    background-color: #65B89C;
    text-align: left;
}

#headerText{
    height: 3em;
    line-height: 3em;
    float: left;
}

#headerText span{
    font-size: 0.5em;
}

#mainFooter{
    height: 7em;
    bottom: 0;
    background-color: #EAEAEA;
    overflow: hidden;
}

#aniBtnBox{
    width: 7em;
    height: 91em;
    background-image: url(../images/button.png);
    background-size: 7em 91em;
    /*background-position: 0 0;*/
    position: relative;
    margin: auto;
    -webkit-transform: translate3d(0,0,0);
    -webkit-transition: -webkit-transform 0.3s steps(12);
}

#previousBtn, #nextBtn{
    width: 6em;
    height: 7em;
    position: absolute;
    top: 0em;
    bottom: 2em;
    background-image: url(pandn.svg);
    background-size: 3em 3em;  
    background-repeat: no-repeat;
    background-position: 1.5em 2em;
}

#previousGlow, #nextGlow{
    border-radius: 50%;
    background-color: #65B89C;
    -webkit-animation: none;
    position: absolute;
    width: 2.8em;
    height: 2.8em;
    top: 2.1em;
    bottom: 2.1em;
}

#previousGlow{
    left: 1.6em; 
    background-color: #FF9D82;
}

#nextGlow{
    right: 1.6em;
}

#previousBtn{
    left: 0;
}

#nextBtn{
    -webkit-transform: rotate(180deg);
    right: 0;
}


/*UC和海豚不兼容*/
@-webkit-keyframes glow {
    from{
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
    }
    to{
        opacity: 0;
        -webkit-transform: scale3d(2, 2, 1);
    }
}

/*UC和海豚兼容但是效果怪怪的*/
/*#previousGlow, #nextGlow{
    background-color: #65B89C;
    -webkit-transform: scale3d(0.9, 0.9, 1);
}*/


#menuBtn{
    height: 3em;
    width: 1.5em;
    background: url(menu.svg);
    background-size: 3em 3em;
    /*background-color: #65B89C;*/
    float: left;
}

#aniBox1{
    width: 100%;
    height: auto;
    bottom: 7em;
    top: 3em;
    position: absolute;
    overflow: hidden;
}

#aniBox2{
    position: absolute;
    margin: 0 auto;
    width: 20em;
    height: 100%;
    overflow: hidden;
    background-image: url(../images/001.png),url(#),url(../images/002.png);
    background-repeat: no-repeat,no-repeat,no-repeat;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
}

#imageM{
    height: 30em;
    width: 20em;
    margin: auto;
}

/*#imageL{
    position: absolute;
    left: 0;
}

#imageR{
    position: absolute;
    right: 0;
    background-image: url(../images/002.png);
}

#imageM{
    margin: auto;
    background-image: url(../images/001.png);
    -webkit-animation: none;
}*/

#animation1{
    display: none;
    position: relative;
    margin: auto;
    -webkit-transform: translate3d(0, 0em, 0);
    background-image: url(../images/1_1.png),url(../images/1_2.png),url(../images/1_3.png);
    /*background-size: 100% 33.3333%;*/
    /*background-position: 0 0,0 33.3333%,0 66.6667%;*/
    background-repeat: no-repeat;
    -webkit-animation: none;
}

@-webkit-keyframes animation1 {
    from{-webkit-transform: translate3d(0, 0, 0)}
    to{-webkit-transform: translate3d(0, -95.8333%, 0)}
}

#mainMask{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    pointer-events: none;
}

/*****************menu*****************/


#menu{
    width: 300%;
    height: auto;
    position: absolute; 
    top: 0;
    left:0;
    bottom: 4em; 
    right:0; 
    -webkit-transition: -webkit-transform 0.35s cubic-bezier(.08, .47, 0, 1);
}

#contentsPage, #searchPage, #settingPage{
    width: 15em;
    height: 100%;
    float: left;
    background-color: #63666E;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

#contentsPage li{
    line-height: 3em;
    background-color: #6A6F76;
    text-indent: 1.5em;
    font-size: 1.25em;
    color: #A8AFBA;
    font-weight: bold;
}

#contentsPage li li{
    background-color: #63666E;
    font-size: 0.8em;
    text-indent: 3em;
    color: #9A9FA8;
}

#searchPage{
    /*background-color: green;*/
}

#settingPage{
    /*background-color: orange;*/
}

#menuFooter{
    height: 4em;
    width: 100%;
    background-color: #54575E;
    position: absolute;
    bottom: 0;
}

#menuFooterBtn{
    display: block;
    width: 100%;
    height: 100%;
}

#menuFooterBtn li{
    float: left;
    width: 5em;
    height: 100%;
    text-align: center;
    line-height: 4em;
    color: #CCD3DD;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition: box-shadow 0.1s linear;
}

#contentsBtn{
    box-shadow: 0 -0.25em #FF8164 inset
}

