html, body, div, span,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
img, ins, kbd, q, s, samp, small, strike, strong, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baselinebaseline; background: transparent; }
ol, ul {list-style: none; }
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }


*{
    overflow: hidden;
}

body, html{
    height: 100%;
    width: 100%;

}

#box{
    height: 100%;
    width: 100%;
    position: relative;
    background-color: black;
}

#mainBox, #menuBox{
    height: 100%;
    width: 100%;
    position: absolute;
}

#menuBox{
    width: 15em;
    -webkit-transform: translate3d(-8em, 0, 0);
    transition: -webkit-transform 0.35s cubic-bezier(.08, .47, 0, 1);
}

#menuMask{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    position: absolute;
    -webkit-transform: translate3d(0, 0, 0);
    transition: background-color 0.35s cubic-bezier(.08, .47, 0, 1);
    /*display: none;*/
    pointer-events: none;
}

#mainBox{
    box-shadow: 0 0 1em 0.25em rgba(0,0,0,0.3);
    -webkit-transform: translate3d(0, 0, 0);
    transition: -webkit-transform 0.35s cubic-bezier(.08, .47, 0, 1);
}

#main{
    height: 100%;
    width: 100%;
    background-color: pink;
    position: relative;
}

#menu{
    width: 300%;
    height: 100%;
    position: relative;
    transition: -webkit-transform 0.35s cubic-bezier(.08, .47, 0, 1);
}

#contentsPage, #searchPage, #settingPage{
    width: 15em;
    height: 100%;
    float: left;
}

#contentsPage{
    background-color: yellow;
}

#searchPage{
    background-color: green;
}

#settingPage{
    background-color: orange;
}

#menuFooter{
    height: 4em;
    width: 100%;
    background-color: white;
    position: absolute;
    bottom: 0;
}

#menuFooterBtn{
    display: block;
    width: 100%;
    height: 100%;
}

#menuFooterBtn li{
    float: left;
    width: 5em;
    height: 100%;
    display: block;
    text-align: center;
}

#contentsBtn{
    box-shadow: 0 -0.5em orange inset
}


#mainHeader, #mainFooter{
    height: 3em;
    width: 100%;
    background-color: red;
    position: absolute;
    text-align: center;
}

#mainHeader{
    top: 0;
}

#mainFooter{
    bottom: 0;
}

#menuBtn{
    height: 3em;
    width: 3em;
    background-color: white;
    float: left;
}

#myModel{
    /*background-color: blue;*/
    width: 100%;
    height: 80%;
    margin: auto;
    position: relative;
}

#myModel2{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 75%;
    background-color: white;
}

#previous, #next{
    width: 2em;
    height: 100%;
    background-color: gray;
}

#previous{
    float: left;
}

#next{
    float: right;
}

