html, body, div, span,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
img, ins, kbd, q, s, samp, small, strike, strong, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baselinebaseline; background: transparent; }
ol, ul {list-style: none; }
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }


body, html{
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica;
    color: white;
    overflow: hidden;
}

#box{
    height: 100%;
    width: 100%;
    position: relative;
    background-color: black;
}

/*****************main*****************/


#mainBox, #menuBox{
    height: 100%;
    width: 100%;
    position: absolute;
}

#menuBox{
    width: 15em;
    -webkit-transform: translate3d(-8em, 0, 0);
    -webkit-transition: -webkit-transform 0.35s cubic-bezier(.08, .47, 0, 1);
}

#mainBox{
    box-shadow: 0 0 1em 0.25em rgba(0,0,0,0.3);
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform 0.35s cubic-bezier(.08, .47, 0, 1);
}

#main{
    height: 100%;
    width: 100%;
    background-color: #EAEAEA;
    position: relative;
}

#mainHeader, #mainFooter{
    width: 100%;
    position: absolute;
    text-align: center;
}

#mainHeader{
    height: 3em;
    top: 0;
    background-color: #65B89C;
    text-align: left;
}

#headerText{
    height: 3em;
    line-height: 3em;
    float: left;
}

#mainFooter{
    height: 7em;
    bottom: 0;
    background-color: #EAEAEA;
    /*background-color: grey;*/
}

#aniBtnBox{
    width: 7em;
    height: 7em;
    background-color: #EAEAEA;
    position: relative;
    margin: auto;
}

#aniBtnR,#aniBtnG,#aniBtnB,#GBb,#GRr,#RBb,#RGBb{
    width: 4.5em;
    height: 4.5em;
    position: absolute;
    border-radius: 50%;
    overflow: hidden;
}

#aniBtnR{
    background-color: red;
    -webkit-transform: translate(2em, 0);
}

#aniBtnG{
    background-color: green;
    -webkit-transform: translate(0, 2em);
}

#aniBtnB{
    background-color: blue;
}

#GBb{
    background-color: cyan;
    -webkit-transform: translate(0, -2em);
}
#GRr{
    background-color: yellow;
    -webkit-transform: translate(2em, -2em);
}
#RBb{
    background-color: pink;
    -webkit-transform: translate(-2em, 0);
}
#RGBb{
    background-color: white;
    -webkit-transform: translate(-2em, 0);
}


#previousBtn, #nextBtn{
    width: 3em;
    height: 3em;
    background-color: white;
    position: absolute;
    top: 2em;
    bottom: 2em;
    border-radius: 50%;
}

#previousBtn{
    left: 2em;
}

#nextBtn{
    right: 2em;
}

#menuBtn{
    height: 3em;
    width: 3em;
    background-color: #65B89C;
    float: left;
}

#myModel{
    /*background-color: blue;*/
    width: 100%;
    height: 80%;
    margin: auto;
    position: relative;
}

#myModel2{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 75%;
    background-color: #EAEAEA;
}

#mainMask{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    pointer-events: none;
}

/*****************menu*****************/


#menu{
    width: 300%;
    height: auto;
    position: absolute; 
    top: 0;
    left:0;
    bottom: 4em; 
    right:0; 
    -webkit-transition: -webkit-transform 0.35s cubic-bezier(.08, .47, 0, 1);
}

#contentsPage, #searchPage, #settingPage{
    width: 15em;
    height: 100%;
    float: left;
    background-color: #63666E;
    overflow: auto;
}

#contentsPage li{
    line-height: 3em;
    background-color: #6A6F76;
    text-indent: 1.5em;
    font-size: 1.25em;
    color: #A8AFBA;
    font-weight: bold;
}

#contentsPage li li{
    /*line-height: 3em;*/
    background-color: #63666E;
    font-size: 0.8em;
    text-indent: 3em;
    color: #9A9FA8;
    -webkit-transition: box-shadow 0.1s linear;
    /*font-weight: normal;*/
    /*text-indent: 3em;*/
}

#searchPage{
    /*background-color: green;*/
}

#settingPage{
    /*background-color: orange;*/
}

#menuFooter{
    height: 4em;
    width: 100%;
    background-color: #54575E;
    position: absolute;
    bottom: 0;
}

#menuFooterBtn{
    display: block;
    width: 100%;
    height: 100%;
}

#menuFooterBtn li{
    float: left;
    width: 5em;
    height: 100%;
    text-align: center;
    line-height: 4em;
    color: #CCD3DD;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition: box-shadow 0.1s linear;
}

#contentsBtn{
    box-shadow: 0 -0.25em #FF8164 inset
}

/*#menuMask{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    position: absolute;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition: background-color 0.35s cubic-bezier(.08, .47, 0, 1);
    display: none;
    pointer-events: none;
}*/

