html, body, div, span,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
img, ins, kbd, q, s, samp, small, strike, strong, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baselinebaseline; background: transparent; }
ol, ul {list-style: none; }
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }


body, html{
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica;
    color: white;
    overflow: hidden;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    -webkit-touch-callout: none;
    -webkit-user-select:none;
    -webkit-text-size-adjust:none;
}

#box{
    height: 100%;
    width: 100%;
    position: relative;
    background-color: #63666E;
}

#mask{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    display: none;
}

/*****************main*****************/


#mainBox, #menuBox{
    height: 100%;
    width: 100%;
    position: absolute;
}

#menuBox{
    width: 15em;
    -webkit-transform: translate3d(-7.5em, 0, 0);
    -webkit-transition: -webkit-transform 0.35s cubic-bezier(.08, .47, 0, 1);
}

#mainBox{
    box-shadow: 0 0 1em 0.25em rgba(0,0,0,0.3);
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform 0.35s cubic-bezier(.08, .47, 0, 1);
}

#main{
    height: 100%;
    width: 100%;
    background-color: #EAEAEA;
    position: relative;
}

#mainHeader, #mainFooter{
    width: 100%;
    position: absolute;
    text-align: center;
}

#mainHeader{
    height: 3em;
    top: 0;
    background-color: #78A9BB;
    text-align: center;
    border-bottom: solid;
    border-color: #6F9BA5;
    border-width: 2px;
}

#headerText{
    height: 3em;
    line-height: 3em;
    margin: auto;
}

#headerText span{
    font-size: 0.5em;
}

#menuBtn{
    height: 48px;
    width: 50px;
    background: url(../images/menuBtn.png);
    background-size: 50px 48px;
    /*background-color: #65B89C;*/
    float: left;
    position: absolute;
}

#mainFooter{
    height: 7em;
    bottom: 0;
    background-color: #EAEAEA;
    overflow: hidden;
}

#btnAnimation{
    width: 7em;
    height: 91em;
    background-image: url(../images/button.png);
    background-size: 7em 91em;
    background-position: 0 0;
    position: relative;
    margin: auto;
    -webkit-transition: -webkit-transform 0.25s steps(12);
    
}
/*
#aniBtn{
    width: 7em;
    height: 91em;
    -webkit-transform: translate3d(0,0,0);
    -webkit-transition: -webkit-transform 0.3s steps(12);
}*/

#previousBtn, #nextBtn{
    width: 6em;
    height: 7em;
    position: absolute;
    top: 0em;
    bottom: 2em;
    background-image: url(../images/pnBtn.png);
    background-size: 3em 3em;  
    background-repeat: no-repeat;
    background-position: 1.5em 2em;
}

#previousGlow, #nextGlow{
    border-radius: 50%;
    background-color: #C6C6C6;
    -webkit-animation: none;
    position: absolute;
    width: 4em;
    height: 4em;
    top: 1.5em;
    bottom: 1.5em;
    opacity: 0;
}

#previousGlow{
    left: 1em; 
    background-color: #FF9D82;
}

#nextGlow{
    right: 1em;
}

#previousBtn{
    left: 0;
}

#nextBtn{
    -webkit-transform: rotate(180deg);
    right: 0;
}


/*UC和海豚不兼容*/
@-webkit-keyframes glow {
    from{
        opacity: 1;
        /*-webkit-transform: scale3d(1, 1, 1);*/
    }
    to{
        opacity: 0;
        /*-webkit-transform: scale3d(2, 2, 1);*/
    }
}

/*UC和海豚兼容但是效果怪怪的*/
/*#previousGlow, #nextGlow{
    background-color: #65B89C;
    -webkit-transform: scale3d(0.9, 0.9, 1);
}*/




#aniBox1{
    width: 100%;
    height: auto;
    bottom: 7em;
    top: 3em;
    position: absolute;
    overflow: hidden;
}

#aniBox2{
    position: absolute;
    margin: 0 auto;
    width: 20em;
    height: 100%;
    /*display: none;*/
    /*background-image: url(../images/001.png),none,url(../images/002.png);*/
    /*background-repeat: no-repeat,no-repeat,no-repeat;*/
    /*-webkit-backface-visibility: hidden;*/
    /*-webkit-perspective: 1000;*/
}


#imgBox1{
    background-image: url(../images/003_S.png);
}

#imgBox2{
    background-image: url(../images/001_S.png);
}

#imgBox3{
    background-image: url(../images/002_S.png);
}

/*#imgBoxM{
    margin: auto;
    position: relative;
    font-size:0;用来去掉img之间的间距
}*/

/*#imgBoxL{
    -webkit-transform: translate3d(-320px,0,0);
}*/

/*#imgBoxR{
    float: right;
}*/



#mainAnimation{
    position: absolute;
    /*z-index: 100000;*/
}

/*#imageL{
    position: absolute;
    left: 0;
}

#imageR{
    position: absolute;
    right: 0;
    background-image: url(../images/002.png);
}

#imageM{
    margin: auto;
    background-image: url(../images/001.png);
    -webkit-animation: none;
}*/

#animation1{
    display: none;
    position: relative;
    margin: auto;
    -webkit-transform: translate3d(0, 0em, 0);
    background-image: url(../images/1_1.png),url(../images/1_2.png),url(../images/1_3.png);
    /*background-size: 100% 33.3333%;*/
    /*background-position: 0 0,0 33.3333%,0 66.6667%;*/
    background-repeat: no-repeat;
    -webkit-animation: none;
}

@-webkit-keyframes animation1 {
    from{-webkit-transform: translate3d(0, 0, 0)}
    to{-webkit-transform: translate3d(0, -95.8333%, 0)}
}

#mainMask{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    pointer-events: none;
}

/*****************menu*****************/


#menu{
    width: 45em;
    height: auto;
    position: absolute; 
    top: 0;
    left:0;
    bottom: 55px; 
    right:0; 
    -webkit-transition: -webkit-transform 0.35s cubic-bezier(.08, .47, 0, 1);
}

#contentsPage, #searchPage, #settingPage{
    width: 15em;
    height: 100%;
    float: left;
    background-color: #4A5260;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translateZ(0);
}

/****contents****/

#contentsPage ul div{
    height: 90px;
    width: 100%;
    background-image: url(../images/menuTitle.png);
    background-size: 240px 620px;
}

#contentsTitle1{
    background-position: 0 -80px;
}

#contentsTitle2{
    background-position: 0 -170px;
}

#contentsTitle3{
    background-position: 0 -260px;
}

#contentsTitle4{
    background-position: 0 -350px;
}

#contentsTitle5{
    background-position: 0 -440px;
}

#contentsTitle6{
    background-position: 0 -530px;
}

#contentsPage li li{
    /*font-size: 0.8em;*/
    text-indent: 60px;
    line-height: 40px;
    height: 36px;
    font-size: 1.1em;
    color: #B0B9C6;
    background-image: url(../images/menuTitle.png);
    background-size: 240px 620px;
    background-position: 0 -40px;
}

#contentsPage li li span{
    font-size: 12px;
    margin-left: 1.2em;
    /*color: #8C9199;*/
    opacity: 0.5;
    -webkit-transform: scale3d(0.5, 0.5, 1);
}

/****search****/

#filterPanel{
    /*background: red;*/
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 95px;
    overflow: auto;
    /*left: 25px;*/
    top: 0;
}

#titleColor,#titleNumber{
    width: 100%;
    height: 90px;
    background-image: url(../images/searchTitle.png);
    background-size: 240px 180px;
}

#titleColor{
    background-position: 0 0;
}

#titleNumber{
    background-position: 0 -90px;
}

#panelColor,#panelNumber{
    width: 200px;
    margin: 0 auto;
}

#panelColor{
    height: 100px;
}

#panelNumber{
    height: 240px;
}

#panelColor li {
    width: 50px;
    height: 50px;
    float: left;
    text-align: center;
    line-height: 50px;
    background-image: url(../images/colorPanel.png);
    background-size: 350px 100px;
}

#colorWhite{
    background-position: 0 -50px;
}
#colorGray{
    background-position: -50px 0;
}
#colorBlack{
    background-position: -100px 0;
}
#colorBlue{
    background-position: -150px 0;
}
#colorGreen{
    background-position: -200px 0;
}
#colorYellow{
    background-position: -250px 0;
}
#colorRed{
    background-position: -300px 0;
}

#defaultNumber{
    background-color: #78A9BB;
    border-radius: 20px;
    color: #FFFFFF !important;
}

#panelNumber li{
    width: 30px;
    height: 30px;
    margin: 5px 5px;
    float: left;
    text-align: center;
    line-height: 30px;
    color: #B0B9C6;
}

#searchBtn{
    width: 190px;
    height: 40px;
    background: #78A9BB;
    margin: 0 auto;
    position: absolute;
    bottom: 25px;
    left: 25px;
    border-radius: 20px;
    text-align: center;
    line-height: 40px;
}

#searchPage{
    /*background-color: green;*/
}

/****setting****/

#settingPage{
    /*background-color: orange;*/
}

#menuFooter{
    height: 55px;
    width: 100%;
    background-color: #4A5260;
    position: absolute;
    bottom: 0;
    /*box-shadow: 0 0 3em 1.5em #54575E;*/
}

#menuFooterGradient{
    height: 25px;
    width: 100%;
    background-image: url(../images/menuFooterGradient.png);
    background-size: 1px 25px;
    position: fixed;
    bottom: 54px;
    pointer-events: none;
    z-index: 100;
}

#menuFooterTab{
    display: block;
    width: 100%;
    height: 100%;
}

#menuFooterTab li{
    float: left;
    width: 5em;
    height: 100%;
    background-image: url(../images/menuFooterIcons.png);
    background-size: 240px 55px;
    background-repeat: no-repeat;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition: opacity 0.2s linear;
}

#menuFooterLine{
    background-color: #FF8164;
    height: 2px;
    width: 5em;
    position: absolute;
    bottom: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform 0.35s cubic-bezier(.08, .47, 0, 1);
}

#contentsTab{
    /*box-shadow: 0 -0.25em #FF8164 inset;*/
    background-position: 0 0;
}

#searchTab{
    background-position: -80px 0;
    opacity: 0.6;
}

#settingTab{
    background-position: -160px 0;
    opacity: 0.6;
}

#contentsTab,#searchTab,#settingTab{
    
}

